version: '3'

services:
  dbserver:
    image: store/oracle/database-enterprise:12.2.0.1-slim
    ports:
      - "1521:1521"
  appserver:
    build: .
    #entrypoint: bash
    entrypoint: |
#      bash -c "
 #       java -Ddatabase.url=jdbc:oracle:thin:@vertx-template_dbserver_1:1521/ORCLCDB.localdomain -Djava.security.egd=file:/dev/./urandom -jar target/vertx-*-SNAPSHOT.jar create-database run
 #     "
    # command: sleep 10000
    depends_on:
      - dbserver
    #command: ["./wait-for-it.sh", "dbserver:1521", "-t", "90", "--", "/usr/bin/java", " -Ddatabase.url=jdbc:oracle:thin:@vertx-template_dbserver_1:1521/ORCLCDB.localdomain -Djava.security.egd=file:/dev/./urandom -jar /target/vertx-*-SNAPSHOT.jar create-database run"]
    command: ["./wait-for-oracle.sh", "dbserver", "/bin/sh", "-c", "java -Ddatabase.url=jdbc:oracle:thin:@dbserver:1521/ORCLCDB.localdomain -Djava.security.egd=file:/dev/./urandom -jar /target/vertx-*-SNAPSHOT.jar create-database run"]

    #healthcheck:
     # test: ["CMD", "./wait-for-it.sh", "-h", "dbserver", "-p", "1521"]
      #test: ["CMD", "./wait-for-it.sh", "-h", "vertx-template_dbserver_1", "-p", "1521"]
      #interval: 30s
     # timeout: 10s
      #retries: 5


