version: '3'
services:
  dbserver:
    image: store/oracle/database-enterprise:12.2.0.1-slim
    ports:
      - "1521:1521"
  appserver:
    image: gcr.io/cloud-builders/mvn 
    entrypoint: |
    depends_on:
      - dbserver
    command: ["/bin/bash", "-c", "apt-get update; apt-get install iputils-ping -y; ping dbserver"]
