version: '3'
services:
  dbserver:
    image: library/ubuntu
    #ports:
      #- "1521:1521"
  appserver:
    image: library/ubuntu
    volumes:
      - /workspace:/workspace
    #image: gcr.io/cloud-builders/mvn 
    entrypoint: |
    depends_on:
      - dbserver
    #command: ["/bin/bash", "-c", "apt-get update; apt-get install iputils-ping -y; ping dbserver; ./wait-for-oracle.sh dbserver /bin/bash ls"]
    command: ["/bin/bash", "-c", "apt-get update; apt-get install iputils-ping -y; ping dbserver; ls -lah /workspace"]
